@media (min-width: 768px) {
    .caption1 {
        color: var(--secondry-color);
        font-size: 4rem;
    }

    .caption2 {
        color: var(--text-color);
        font-size: 6rem;
    }

    .caption3 {
        font-size: 1.5rem;
    }

    .hamburger {
        display: none;
    }

    .navigation ul {
        display: flex !important;
        flex-direction: row;
        background: none;
        width: auto;
    }

    .navigation ul li a {
        padding: 5px 40px;
    }

    .about {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: nowrap;
        color: var(--secondry-color);
        padding: 20px 0;
    }

    .market-summary {
        font-size: 2rem;

    }

    .terms-cards {
        flex-wrap: nowrap;
    }

    textarea {
        width: 40vw;
        height: 8vw;
    }

    form input {
        width: 40vw;
        height: 8vh;
    }
}