        :root {
            --secondry-color: #bf0404;
            --primary-color: #0378a6;
            --button-color: #8dbf41;
            --text-color: #ffff;
            --border-color: #fafafa;
            --text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .logo {
            padding-left: 40px;
            padding-top: 10px;
        }

        header {
            background: var(--secondry-color);
        }

        .hero {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            padding: 10px 40px;
            height: 100px;
            color: var(--text-color);
            font-family: "Cinzel", serif;
        }

        nav {
            border-top: 2px solid var(--border-color);
            border-bottom: 2px solid var(--border-color);
        }

        .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            font-size: 1.2rem;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .navigation ul {
            display: none;
            flex-direction: column;
            width: 100%;
            background: var(--secondry-color);
            padding: 0;
            margin: 0;
        }

        .navigation ul li {
            list-style-type: none;
        }

        .navigation ul li a {
            text-decoration: none;
            border-left: 1px solid var(--border-color);
            border-right: 1px solid var(--border-color);
            padding: 5px 40px;
            color: var(--text-color);
            display: block;
        }

        .navigation ul li a:hover {
            background: #000;
        }

        .hamburger {
            margin-left: 40px;
            background: white;
            border: none;
            font-size: 1.8rem;
            cursor: pointer;
            color: var(--text-color);
            display: block;
            z-index: 1000;
        }

        .navigation ul.show {
            display: flex;
        }

        #search-bar {
            padding-right: 40px;
        }


        .p {
            padding-left: 20px;
            margin-bottom: -10px;
        }

        .Stocksmart {
            font-size: 2rem;
        }

        .wallpaper {
            width: 100vw;
        }

        .section-one {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-image: url(/finalproject/images/wallstreet.jpg);
            background-color: rgba(250, 4, 4, 0.9);
            background-blend-mode: darken;
            height: 400px;
            background-size: cover;
            color: var(--text-color);
            padding-left: 40px;
        }

        .caption1 {
            color: var(--secondry-color);
            font-size: 4rem;
        }

        .caption2 {
            color: var(--text-color);
            font-size: 6rem;
        }

        .caption3 {
            font-size: 1.5rem;
        }

        .stocks-card {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 20px;
            padding: 10px 40px;

        }

        .stocks-card img {
            margin: auto;
            margin-bottom: 20px;

        }

        .stocks-card .tesla,
        .stocks-card .microsoft,
        .stocks-card .nvidia {
            padding: 50px;
            width: 350px;
            box-shadow: 0 1px 4px rgb(191, 4, 4, 0.6);
        }

        .stocks-card .nvidia div {
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            align-items: center;
        }

        .stocks-card .nvidia h3 {
            margin-bottom: 12px;
        }

        .stocks-card .tesla h3 {
            margin-bottom: 12px;
        }

        .stocks-card .microsoft h3 {
            margin-bottom: 12px;
        }


        .stocks-card .tesla div {
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            align-items: center;
        }

        .stocks-card .microsoft div {
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            align-items: center;
        }

        .stocks-card .tesla:hover,
        .stocks-card .microsoft:hover,
        .stocks-card .nvidia:hover {
            transform: scale(1.05);
        }

        i {
            color: #bf0404;
            font-size: 1.5rem;
            margin: 3px;
        }

        .market-summary {
            background-color: var(--secondry-color);
            color: var(--border-color);
            margin: 10px 40px;
            padding: 10px;
            border-radius: 30px;
            text-align: center;
            font-size: 2rem;

        }


        .section-three {
            height: 350px;
            background-image: url(/finalproject/images/contaact.webp);
            background-color: rgba(250, 4, 4, 0.5);
            background-blend-mode: darken;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: 20px;
            padding: 10px 40px;
            margin: 20px 0;
            color: var(--text-color);
            font-size: 1.5rem;
            flex-wrap: wrap;
        }

        .section-three h3 {
            color: black;
            font-style: italic;
            text-shadow: var(--text-shadow);

        }

        .section-three a {
            background-color: #bf0404;
            color: var(--text-color);
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 30px;
            box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.5);
        }

        .section-three a:hover {
            background: rgba(255, 0, 0, 0.589);
            scale: 2px;
            transform: scale(1.1);
        }

        .about {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            color: var(--secondry-color);
            padding: 20px 0;
        }

        .about img {
            margin: 0 40px;
            width: 82vw;
        }

        .about-text {
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
        }

        .heading {
            font-family: "Cinzel";
        }

        .about-text h3 {
            font-family: "Montserrat", sans-serif;
            Font-size: 45px;
            Font-weight: 600;
            Line-height: 54px;
        }

        .paragraph {
            font-family: "Open Sans", sans-serif;
            font-size: 17px;
            font-weight: 400;
            line-height: 28.9px;
            text-align: justify;
        }

        /* CONTACT PAGE */
        .main-contact h1 {
            text-align: center;
            padding-top: 40px;
            font-size: 2.5rem;
            font-family: 'Times New Roman', Times, serif;
            color: var(--text-color);
        }

        .main-contact {
            height: 20vh;
            background-image: url(/finalproject/images/contactBg.webp);
            background-size: cover;
            background-position: center;
            background-color: rgba(12, 0, 0, 0.7);
            background-blend-mode: darken;
        }

        .contact-one {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: 40px 40px;
            flex-wrap: wrap;
        }

        .map {
            margin-top: 5px;
            height: 200px;
            width: 100%;
        }

        .map {
            margin-top: 5px;
            height: 200px;
            width: 100%;
        }

        .map iframe {
            width: 100%;
            height: 100%;
            border: none;
        }

        .map:hover {
            transform: scale(1.1);
        }

        .contact-card {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            flex-wrap: wrap;
        }

        .contact-one h1 {
            margin: 40px 0;
            font-family: Roboto, sans-serif;
            font-size: 40px;
            font-weight: 400;
            line-height: 30px;
        }

        .contact-card p i {
            margin-right: 15px;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        label {
            font-family: Roboto, sans-serif;
            font-size: 14.5px;
            font-weight: 300;
            line-height: 24px;
            color: rgb(119, 119, 119);
        }

        textarea {
            width: 85vw;
            height: 150px;
            resize: none;
            padding: 10px;
            border: 1px solid rgb(219, 219, 219);
            border-radius: 5px;
            box-sizing: border-box;
        }

        form input {
            width: 85vw;
            height: 40px;
            margin-bottom: 10px;
            border: 1px solid rgb(219, 219, 219);
            padding: 10px;
            border-radius: 5px;
            box-sizing: border-box;
        }

        label span {
            color: var(--secondry-color);
            padding: 5px;
        }

        input:focus {
            outline: none;
            border: 1px solid rgb(255, 219, 219);
        }

        textarea:focus {
            outline: none;
            border: 1px solid rgb(255, 219, 219);
        }

        #submit-btn {
            color: var(--text-color);
            margin-top: 20px;
            width: 90px;
            height: 6vh;
            font-size: 15px;
            font-weight: 500;
            font-family: "Montserrat", sans-serif;
            background-color: var(--secondry-color);
            text-transform: uppercase;
            border-radius: 5px;
        }

        #submit-btn:hover {
            background-color: rgb(172, 4, 4);
        }



        .useful-links ul li {

            list-style-type: none;
            margin-top: 20px;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
        }

        .useful-links ul li a {
            text-decoration: none;
            color: var(--text-color);
            padding: 5px;

        }

        .useful-links ul li a:hover {
            background-color: var(--secondry-color);
        }

        /* LEARN PAGE */
        .learn-heading {
            margin: 40px 40px;
        }

        .learn-heading div {
            font-family: Cabin-semi-bold, Cabin-fallback, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            color: var(--secondry-color);
            margin-bottom: 10px;
        }

        .learn-heading h1 {
            margin-bottom: 10px;
            font-family: Cabin-semi-bold, Cabin-fallback, sans-serif;
            font-size: 35px;
            font-weight: 600;
            line-height: 52.8px;
            color: rgb(17, 17, 17);
        }

        .learn-heading p {
            font-family: SourceSansPro, "Source Sans Pro-fallback", sans-serif;
            font-size: 25px;
            font-weight: 400;
            line-height: 36px;
            color: rgb(102, 102, 102);
        }

        .learn-image-sec {
            background-color: #000;
            margin: 40px 40px;
            text-align: center;
            padding: 20px 0;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
            color: var(--text-color);

        }

        #breifing {
            font-size: 17px;
        }

        .learn-image-sec h3 {
            background-color: #1f1f1f;
            font-size: 20px;
            margin: 20px 0;
            padding: 40px;
        }

        .learn-terms-sec {
            background-color: var(--secondry-color);
        }

        .terms-cards {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 10px;
            flex-wrap: wrap;
            margin: 0 40px;
            padding-bottom: 20px;
        }

        .learn-terms-sec>p {
            text-align: center;
            padding: 20px 0;
            font-size: 40px;
            text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
        }

        .defination {
            color: rgb(119, 119, 119);
            font-style: italic;
        }

        .terms-cards h3 {
            text-shadow: 1px 1px 3px rgba(252, 6, 6, 0.3);
        }

        .card1,
        .card2,
        .card3,
        .card4 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            background-color: #fafafa;
            margin: 20px;
            padding: 20px;
            box-shadow: 10px 10px 0 black;
        }

        .learn-image-sec img {
            width: 70vw;
        }

        .learn-image-sec p {
            background-color: #1f1f1f;
            padding: 20px;
            font-size: 10px;

        }

        .faq-container {
            width: 92vw;
            margin: 40px auto;
            border: 1px solid var(--secondry-color);
            padding: 20px;
            background: white;
        }

        .faq-container h2 {
            margin-bottom: 15px;
        }

        .faq-item {
            border-top: 1px solid var(--secondry-color);
        }

        .faq-item:first-child {
            border-top: none;
        }

        .faq-question {
            padding: 15px;
            cursor: pointer;
            position: relative;
            font-weight: bold;
        }

        .faq-question::after {
            content: '\25BC';
            position: absolute;
            right: 15px;
            transition: transform 0.3s ease;
        }

        .faq-question.active::after {
            transform: rotate(180deg);
        }

        .faq-answer {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;
            padding: 0 15px;
        }

        .faq-answer p {
            margin: 10px 0;
        }

        .faq-item.open .faq-answer {
            max-height: 200px;
            padding-bottom: 10px;
        }

        .big-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
            padding: 20px 40px;
            background-color: #1f1f1f;
            color: var(--text-color);

        }

        .contact-footer,
        .author {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 20px;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin-top: 20px;
        }

        .small-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            background-color: #282828;
            padding: 10px 40px;
        }

        .small-footer p {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 27.2px;
            color: rgb(131, 131, 131);
        }

        .footer-social {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }